# Codes to ignore. 
Contrarian Codes/Execution.py
# Data to ignore. 
Contrarian Data/day
Contrarian Data/week
# Folders to ignore
Result
Analysis
Contrarian Codes/Debug
Contrarian Codes/__pycache__
# Filetype to ignore. 
*.txt
*.pyc