# Codes to ignore. 
Contrarian Codes/Contrarian_old.py
Contrarian Codes/Debug.py
Contrarian Codes/Execution.py
# Data to ignore. 
Contrarian Data/day
Contrarian Data/week
# Folders to ignore
Result
Analysis
Contrarian Codes/__pycache__
Contrarian Codes/Debug
# Filetype to ignore. 
*.txt