# Codes to ignore. 
Contrarian Codes/Contrarian_old.py
Contrarian Codes/Run.py
Contrarian Codes/Debug.py
# Data to ignore. 
Contrarian Data/day
Contrarian Data/week
# Folders to ignore
Contrarian Result
Contrarian Codes/Debug
Contrarian Codes/__pycache__
Contrarian Codes/Run
# Filetype to ignore. 
*.txt